html{ scroll-behavior: smooth;
}

body{
    background-color:#DDA0DD ;
}

.fundo_diferente{
    background-image: linear-gradient(to right, #DDA0DD , #fff);
  }
  

.img_topo{
    width: 100%;
}

.img_corpo{
    width: 50%;
}

figure{
    text-align: center;
}

.container{
    width: 50%;
    margin: auto;
}

h1{
    text-align: center;
    color:#8A2BE2 ;
}

p{
    font-size: 2rem;
    color:#8A2BE2;
    text-align: justify;
    text-indent: 40px;    
}

.cinema > p{ 

 font-size: 1em;
} 

.pinta_botão{
    width: 150px;
    height: 50px;
    background-color: linear-gradient(to right, #8A2BE2, #fff ) ;
    margin: auto;
}

.botão{
   padding-top: 15px;

}
