body{
    background-color:#DDA0DD ;
}

.img_topo{
    width: 1000px;
}

.img_corpo{
    width: 50%;
}

figure{
    text-align: center;
}

.container{
    width: 50%;
    margin: auto;
}

h1{
    text-align: center;
    color:#8A2BE2 ;
}

p{
    font-size: 2rem;
}